* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.flex {
  display: flex;
}

.fixed {
  position: fixed;
  z-index: 99;
}

.centered {
  margin: auto;
  text-align: center;
}

.center-items {
  align-items: center;
  justify-content: center;
}

.rounded {
  border-radius: 5px;
}

.shadowed {
  filter: drop-shadow(2px 0.5px 2px rgba(0, 0, 0, 0.24));
  outline: rgba(0, 0, 0, 0.034) solid 2px;
}

a {
  color: inherit;
  background-color: inherit;
  height: 100%;
}

a:hover {
  background-color: rgb(72, 127, 228);
}

header {
  background-color: cornflowerblue;
  width: 100%;
  height: 10vh;
  min-height: 35px;
  top: 0;
}

.inner-header {
  justify-content: space-between;
  width: 70%;
  max-width: 700px;
  height: 100%;
}

.page-title {
  align-self: center;
  font-size: 28px;
}

.nav-bar {
  font-size: 20px;
}

.nav-bar a {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

body {
  padding-top: 10vh;
  padding-bottom: 5vh;
  background-color: whitesmoke;
}

.book-ad {
  background-color: rgb(129, 203, 233);
  width: fit-content;
  margin-top: 60px;
  padding: 15px;
}

.book-information {
  flex-direction: column;
  margin-left: 20px;
  align-items: center;
  background-color: rgba(66, 77, 112, 0.13);
  padding: 10px 30px 10px 30px;
  border-radius: 2px;
}

.book-information h2:first-child {
  font-size: 27px;
  margin-bottom: 40px;
}

.book-information p:not(:last-child) {
  font-size: 20px;
  margin-bottom: 5px;
}

.purchase-button {
  width: 100%;
  min-width: 100px;
  padding: 10px;
  background-color: #2aa84b;
  color: whitesmoke;
  font-size: 26px;
}

.purchase-button:hover {
  background-color: #20943f;
}

.small-text {
  font-size: 12px;
}

.reviews {
  width: 100%;
  margin-top: 80px;
  padding: 70px 0 70px 0;
  background-color: #a0e3fd;
}

.review-list {
  justify-content: space-evenly;
  margin: 20px auto;
  width: 95%;
}

.review-object {
  background-color: whitesmoke;
  min-width: 300px;
  border-radius: 25px;
  padding: 4px 4px 4px 4px;
}

.review-object div {
  margin-left: 15px;
}

.review-object h4,
.review-object p {
  text-align: left;
}

.review-object img {
  background-color: transparent;
}

.background-information {
  padding: 100px 0 100px 0;
  font-size: clamp(1.5rem, 2vw, 2rem);
}

.background-information div {
  width: 70%;
  min-width: 300px;
}

.book-content {
  background-color: cornflowerblue;
  margin-top: 80px;
  min-width: 300px;
}

.book-content h2 {
  padding: 30px 0 30px 0;
}

.book-feature {
  justify-content: center;
  background-color: rgb(200, 227, 245);
  padding: 80px 0 80px 0;
}

.book-feature:nth-child(2n) {
  flex-direction: row-reverse;
  background-color: rgb(86, 178, 240);
}

.book-feature img {
  margin-right: 50px;
  min-width: 300px;
  max-width: 350px;
}

.feature-info {
  flex-direction: column;
  max-width: 500px;
}

footer {
  background-color: lightskyblue;
  width: 100%;
  height: 5vh;
  min-height: 20px;
  bottom: 0;
  align-items: center;
  padding-left: 20px;
}

@media screen and (max-width: 1050px) {
  .review-list {
    flex-direction: column;
    width: 80%;
  }

  .review-object:not(:first-child) {
    margin-top: 20px;
  }
}

@media screen and (max-width: 900px) {
  .book-feature {
    flex-direction: column;
    align-items: center;
  }

  .book-feature:nth-child(2n) {
    flex-direction: column-reverse;
  }

  .book-feature img {
    margin: 50px 0 50px 0;
  }
}
